#root {
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
}

.app {
  font-family: sans-serif;
  padding: 0px !important;
  text-align: center;
}

.search_box {
  flex: 0.9;
  align-items: center;
  text-align: center;
  font: 20px;
}

.header_wrapper {
  display: "flex";
  align-items: center;
  display: flex;
}

/* 
.header_button {
  background: white;
  color: #444;
  width: 120px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
}

.header_button_icon {
  vertical-align: middle;
  background: transparent 5px 50% no-repeat;
  width: 37px;
  height: 37px;
} */
.avatar {
  width: 50px;
  border-radius: 50%;
}

.user_name_email {
  color: black;
  font-family: Roboto sans-serif;
  font-size: 15px;
}
.sign_out_button{
  background: white;
  border: none;
  border-radius: 5px;
}

.header_button_text {
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.search_box>input {
  font-size: 20px;
  border: none;
  width: 70%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.listing_pokemons {
  display: grid;
  padding: 15px 30px;
  grid-template-columns: auto auto auto auto
}


.card_wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  height: 270px;
  box-shadow: 2px 3px 8px #888888;
  background-color: lightgreen;
}

.progress_wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  height: 270px;
  box-shadow: 2px 3px 8px #888888;
  background-color: #394336;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ffffff;
}

.pokemon_image {
  width: 110px;
}

.pokemon_details_wrapper {
  padding: 10px;
}

.pokemon_id {
  margin: 0px 100px;
  background: grey;
  padding: 3px;
  border-radius: 3px;
}

.color {
  color: white;
}

.text {
  text-transform: capitalize;
}

.margin {
  margin-bottom: 5px;
}

.stat_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 10px;
}

.stat_name {
  width: 30%;
  text-align: left;
  padding: 0px 5px;
  font-size: 14px;
  text-transform: capitalize;
}

.progress_bar {
  width: 40%;
  height: 10px;
  background-color: #f19686;
  margin: 1px;
}

.stat-number {
  width: 20%;
  margin: 1px;
}

.grass {
  background: #7eb989;
}

.fire {
  background: #f09990;
}

.water {
  background: skyblue;
}

.bug {
  background: burlywood;
}