* {
  margin: 0px;
}

.app {
  background: linear-gradient(90deg, rgba(232, 249, 222, 1) 0%, rgba(255, 158, 176, 1) 51%)
}

.pokemonList {
  background: linear-gradient(90deg, rgba(232, 249, 222, 1) 0%, rgba(255, 158, 176, 1) 51%);
  display: grid;
  grid-template-columns: auto auto auto auto
}

.pokemon_card {
  transition-delay: 1s;
  /* background: linear-gradient(90deg, rgba(232,249,222,1) 0%, rgba(255,158,176,1) 51%) */
  border-radius: 20px;
  margin: 20px;
  padding: 10px 10px;
  text-align: center;
}

.searchCompo {
  align-items: center;
  text-align: center;
  font: 20px;
}

.searchCompo>input {
  font-size: 20px;
  border: none;
  width: 50%;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}